.content figure.highlight .line.marked {
  background-color: rgba(128,203,196,0.251);
}
.content figure.highlight table {
  display: block;
  overflow: auto;
  border: none;
}
.content figure.highlight table td {
  padding: 0;
  border: none;
}
.content figure.highlight .gutter pre {
  padding-right: 10px;
  padding-left: 10px;
  background-color: var(--hlnumber-bg);
  color: var(--hlnumber-color);
  text-align: right;
}
.content figure.highlight .code pre {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
.content pre,
.content figure.highlight {
  overflow: auto;
  margin: 0 0 20px;
  padding: 0;
  background: var(--hl-bg);
  color: var(--hl-color);
  line-height: 1.6;
}
.content pre,
.content code {
  font-size: var(--global-font-size);
  font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
}
.content code {
  padding: 2px 4px;
  background: rgba(27,31,35,0.05);
  color: #f47466;
}
.content pre {
  padding: 10px 20px;
}
.content pre code {
  padding: 0;
  background: none;
  color: var(--hl-color);
  text-shadow: none;
}
.content figure.highlight {
  position: relative;
}
.content figure.highlight pre {
  margin: 0;
  padding: 8px 0;
  border: none;
}
.content figure.highlight figcaption,
.content figure.highlight .caption {
  padding: 6px 0 2px 14px;
  font-size: var(--global-font-size);
  line-height: 1em;
}
.content figure.highlight figcaption a,
.content figure.highlight .caption a {
  float: right;
  padding-right: 10px;
  color: var(--hl-color);
}
.content figure.highlight figcaption a:hover,
.content figure.highlight .caption a:hover {
  border-bottom-color: var(--hl-color);
}
.content .highlight-tools {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  min-height: 24px;
  height: 2.15em;
  background: var(--hltools-bg);
  color: var(--hltools-color);
  font-size: var(--global-font-size);
}
.content .highlight-tools.closed ~ * {
  display: none;
}
.content .highlight-tools .expand {
  position: absolute;
  padding: 0.57em 0.7em;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
}
.content .highlight-tools .expand + .code-lang {
  left: 1.6em;
}
.content .highlight-tools .expand.closed {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -o-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}
.content .highlight-tools .code-lang {
  position: absolute;
  left: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.15em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content .highlight-tools .copy-notice {
  position: absolute;
  right: 2.1em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.content .highlight-tools .copy-button {
  position: absolute;
  right: 14px;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.content .highlight-tools .copy-button:hover {
  color: #49b1f5;
}
.content .gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content .gist table {
  width: auto;
}
.content .gist table td {
  border: none;
}